<html>
  <head>
    <title>Legal Pro Tips</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
  </head>
  <body style="font-family: 'Noto Sans HK', sans-serif; background-color: #DDE6F8">
    <div style="text-align: center; margin: 35vh auto">
      <h3>The Legal Pro Tips application is still waking up.</h3>
      <h3>Please wait and try again by reloading the page.</h3>
      <h3>If you reload the page without waiting long enough,</h3>
      <h3>you may see this page more than once.</h3>
      <h3>We thank you for your patience.</h3>
    </div>
  </body>
</html>
